@page "/selectlist"

@using BlazorApp1.Models
@using Blazorise.Components

<PageTitle>SelectList</PageTitle>

<SelectList Style="width: 200px"
            TItem="MyModel"
            TValue="string"
            Data="@_models"
            TextField="@((item)=>item.DisplayName)"
            ValueField="@((item)=>item.Name)"
            @bind-SelectedValue="@SelectedValue1" />

<span>@SelectedValue1</span>


<SelectList Style="width: 200px"
            TItem="MyModel"
            TValue="string"
            Data="@_models"
            TextField="@((item)=>item.DisplayName)"
            ValueField="@((item)=>item.Name)"
            @bind-SelectedValue="@SelectedValue2" />

<span>@SelectedValue2</span>


@code {
    private readonly List<MyModel> _models = new List<MyModel>(new[]
        {
        new MyModel { Name = "item 1" },
        new MyModel { Name = "item 2" },
        new MyModel { Name = "item 3" }
    });

    public SelectListPage()
    {
        SelectedValue2 = "item 3";
    }

    public string SelectedValue1 { get; set; }

    public string SelectedValue2 { get; set; }
}